__pycache__/
*.pyc
*.pyo
*.log
tmp_*.log
console_*.log

.git/
_vendor_easyproxiesv2/
_vendor_socks5_proxy/

.env

gemini_accounts/
console_config.json
console_state.json
maintenance_status.json
mail_tokens.txt
mailbox_tokens.json
existing_accounts.json
