# Cloudflare Worker mail service config
WORKER_DOMAIN=xxxx.xxxx.xxxx.xxxx
EMAIL_DOMAIN=xxxx.xxxx.xxxx.xxxx
ADMIN_PASSWORD=replace_with_your_admin_password

# Optional browser config
# Linux Docker: /usr/bin/chromium
# Windows: C:\Program Files\Google\Chrome Dev\Application\chrome.exe
# CHROME_BIN=/usr/bin/chromium
# CHROME_MAJOR_VERSION=147
# UC_CLEAR_CACHE_ON_RETRY=0
# UC_DOWNLOAD_PROXY_ENABLED=0
